<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
 <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="~/Content/images/ico.ico">

    <link href="~/Content/Admin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/cs-skin-elastic.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/flag-icon.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/normalize.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/style.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/themify-icons.css" rel="stylesheet" />
    <link href="~/Content/Admin/scss/style.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/pagination.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/fonts_xt.css" rel="stylesheet" />

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->


</head>
<body>
    <!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="./" style="height: 90%; margin-top: 3px"><img src="~/Content/uploads/2016/08/logo-1.png" alt="Logo" style="height: 90%"></a>
                <a class="navbar-brand hidden" href="./"><img src="~/Content/uploads/2016/08/logo-1.png" alt="Logo"></a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <h3 class="menu-title">Quản lý Bài Viết</h3><!-- /.menu-title -->
                    <li>
                        <a href="@Url.Action("Index", "Admin")"> <i class="menu-icon fa fa-laptop"></i>Xem Bài Viết </a>
                    </li>
                    <li>
                        <a href="@Url.Action("XoaBaiViet", "Admin")"> <i class="menu-icon fa fa-exclamation-triangle"></i>Xóa Bài Viết </a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->
    <!-- Left Panel -->
    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="~/Content/images/admin.jpg" alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">

                            <a class="nav-link" href="@Url.Action("Logout", "Login")"><i class="fa fa-power -off"></i>Logout</a>
                        </div>
                    </div>

                </div>
            </div>

        </header><!-- /header -->
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="@Url.Action("Index", "Admin")">Home</a></li>
                            <li class="active">@ViewBag.TitlePage</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">
                    @RenderBody()
                </div>
            </div><!-- .animated -->
        </div><!-- .content -->


    </div><!-- /#right-panel -->
    <!-- Right Panel -->
    <script src="~/Content/Admin/js/vendor/jquery-2.1.4.min.js"></script>

    <script src="~/Content/Admin/js/popper.min.js"></script>
    <script src="~/Content/Admin/js/plugins.js"></script>
    <script src="~/Content/Admin/js/main.js"></script>


</body>
</html>
