@using PagedList.Mvc;
@model PagedList.IPagedList<Post>


@for (int i = 0; i < Model.Count; i++)
{
    <tr>
        <th scope="row">@((Model.PageNumber - 1) * 5 + i + 1)</th>
        <td>@Model[i].Title</td>
        <td>@(Html.Raw(Model[i].Content.Length <= 50 ? Model[i].Content : Model[i].Content.Substring(0, 50) + "..."))</td>
        <td>@Model[i].CreatedDate</td>
        <td><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#@Model[i].Post_ID">Chi tiết</button></td>
        <td>
            <div class="modal fade scrollmodal pl-0" id="@Model[i].Post_ID" tabindex="-1" role="dialog" aria-labelledby="scrollmodalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="scrollmodalLabel">@Model[i].Title - @Model[i].CreatedDate</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="content">
                                <div class="row">
                                    <div class="col-12">
                                        @Html.Raw(Model[i].Content)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>

}

<script>
    $('.scrollmodal').appendTo("body");
</script>
