@using PagedList.Mvc;
@model PagedList.IPagedList<Post>

@{
    ViewBag.Title = "Xóa bài viết | Mekong Health and Beauty";
    ViewBag.TitlePage = "Xóa Bài Viết";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Xem tất cả bài viết</strong>
                    </div>
                    <div class="card-body">
                        <table class="table" id="postsTable">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Tiêu đề</th>
                                    <th scope="col">Nội dung</th>
                                    <th scope="col">Ngày tạo</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody id="contentTable">
                                @for (int i = 0; i < Model.Count; i++)
                                {
                                    <tr>
                                        <th scope="row">@(i + 1)</th>
                                        <td>@Model[i].Title</td>
                                        <td>@(Html.Raw(Model[i].Content.Length <= 50 ? Model[i].Content : Model[i].Content.Substring(0, 50) + "..."))</td>
                                        <td>@Model[i].CreatedDate</td>
                                        <td><button type="button" class="btn btn-danger btn-sm btnDelete" data-idPage="@Model.PageNumber" data-id="@Model[i].Post_ID">Xóa</button></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="pagination">
                            <a href="#" class="prev disabled"><<</a>
                            <ol>
                                <li class="active"><a>1</a></li>
                                @for (int j = 1; j < Model.PageCount; j++)
                                {
                                    <li><a>@(j + 1)</a></li>
                                }
                            </ol>
                            <a href="#" class="next">>></a>
                        </div>
                    </div>
                </div>
            </div>



            <div id="success-alert" class="sufee-alert alert with-close alert-primary alert-dismissible fade show">
                <span class="badge badge-pill badge-primary">Success</span>
                You delete this post successfull.
            </div>

            <div id="fail-alert" class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
                <span class="badge badge-pill badge-danger">Fail</span>
                You delete fail. Please try again!
            </div>

        </div>
    </div>
</div>

<script src="~/Content/Admin/js/vendor/jquery-1.11.3.min.js"></script>
<script src="~/Content/Admin/js/pagination.js"></script>
<script>

    var deleteURL = '/Admin/DeletePost';
    $(document).on('click', '.btnDelete', function () {
        var $buttonClicked = $(this);
        if (confirm("Chắc chắn xóa bài viết này ?")) {
            var id = $buttonClicked.attr('data-id');
            var idPage = $buttonClicked.attr('data-idPage');
            $.ajax({
                type: "GET",
                url: deleteURL,
                contentType: "application/html; charset=utf-8",
                data: { "post_id": id },
                datatype: "html",
                success: function (data) {
                    if (data == "1") {
                        // Load data
                        var url = "/Admin/TablePostsDeletePartial";

                        $.get(url, { page: idPage }, function (data) {
                            $("#contentTable").html(data);
                        });

                        $("#success-alert").fadeTo(2000, 500).fadeOut(500, function () {
                            $("#success-alert").fadeOut(500);
                        });
                    } else {
                        $("#fail-alert").fadeTo(2000, 500).fadeOut(500, function () {
                            $("#fail-alert").fadeOut(500);
                        });
                    }
                },
                error: function () {
                    $("#fail-alert").fadeTo(2000, 500).fadeOut(500, function () {
                        $("#fail-alert").fadeOut(500);
                    });
                }
            });
        }
    });

    if (@Model.PageCount === 1) {
        $(".pagination").remove();
    }
</script>

